/* This is the main styles file for the DevWeek project */

/* INSTALL Lato FONT */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

/* GLOBAL VARIABLES */
:root {
  /* Define the primary font */
  --primary-font: 'Lato', sans-serif;
  font-size: 62.5%;

  /* Define different font weights */
  --light-weight: 300;
  --regular-weight: 400;
  --bold-weight: 700;
  --black-weight: 900;

  /* Define the color pallete */
  --primary-color: #d64a34;
  --light-primary-color: #d88567;
  --secondary-color: #303136;
  --gray-color: #949597;
  --light-gray-color: #c1c2c4;
  --very-light-gray-color: #efefef;
  --light-white-color: #f5f5f5;
  --almost-white-color: #fcfcfc
}

/* RESET DEFAULT BROWSER STYLES */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERAL SETTINGS */
html {
  font-family: var(--primary-font);
  background-color: var(--light-white-color);
}

body {
  font-size: 1rem;
  color: var(--secondary-color);
}

.container {
  width: 100%;
  /* max-width: 100rem; */
  padding: 0 1.4rem;
  margin: 0 auto;
}

img {
  width: 100%;
}

.btn {
  background-color: var(--primary-color);
  text-decoration: none;
  color: #fff;
  font-weight: var(--bold-weight);
  padding: 1.5em 3em;
  display: block;
  margin: 2.5em 10%;
  font-size: 1.8rem;
  text-align: center;
}

/* HEADLINE STYLES */
.banner {
  width: 100%;
  background-image:
    linear-gradient(
      rgba(253, 253, 253, 0.88),
      rgba(253, 253, 253, 0.88)) ,
      url(./bgimgs/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 5em 0 10em;
}

p {
  font-size: 1.5rem;
}

.banner h1 {
  font-size: 3.5rem;
  font-weight: var(--black-weight);
  color: var(--primary-color);
  line-height: 3.5rem;
  letter-spacing: 0.1rem;
  background: url(./bgimgs/banner-inked.jpg);
  background-position: -15% 55%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner .slogan {
  font-size: 2.2rem;
  font-weight: var(--bold-weight);
  color: var(--primary-color);
  line-height: 3.4rem;
  margin-top: 5rem;
}

.banner .event-text {
  background-color: var(--very-light-gray-color);
  border: 3px solid #fff;
  padding: 2rem;
  line-height: 2.5rem;
  margin: 2rem 0;
}

.banner .event-date {
  font-size: 3rem;
  font-weight: var(--black-weight);
  letter-spacing: 0.1rem;
  margin-bottom: 0.8rem;
}

.banner .event-place {
  font-size: 1.8rem;
  font-weight: var(--bold-weight);
}

/* MAIN PROGRAM STYLES */
#program {
  background-color: var(--secondary-color);
  padding: 2rem 0;
  color: var(--light-gray-color);
}

#program h2,
#speakers h2 {
  color: #fff;
  font-weight: var(--bold-weight);
  font-size: 2.2rem;
  text-align: center;
  padding: .7em;
}

#program hr,
#speakers hr {
  width: 10%;
  margin: 0 auto;
  border: 1px solid var(--primary-color);
}

#program ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 3rem auto;
}

#program ul li{
  list-style: none;
  padding: 0 1.6rem;
  height: 9rem;
  background-color: rgba(253, 253, 253, 0.05);
  display: flex;
  font-size: 1.6rem;
  line-height: 2.2rem;
  align-items: center;
  gap: 4%;
}

#program ul li span {
  display: inline-block;
  width: 8.5%;
}

#program ul li strong {
  color: var(--primary-color);
  font-weight: var(--black-weight);
  width: 20%;
}

#program ul li p {
  width: 65%;
}

/* FEATURED SPEAKERS STYLES */
#speakers {
  padding: 10rem 0;
}

#speakers h2 {
  color: var(--secondary-color);
}

#speakers ul {
  list-style: none;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  gap: 3em;
}

#speakers .speaker {
  display: flex;
  height: 22rem;
  gap: 3em;
}

#speakers .speaker .speaker-photo {
  width: 25%;
  position: relative;
}

.speaker-photo .squares {
  height: 60px;
  width: 60px;
  background-image: url(./bgimgs/pattern.svg);
  position: relative;
  top: 0;
  left: 0;
}

.speaker-photo img {
  position: absolute;
  top: 1.5em;
  left: 1.5em;
}

#speakers .speaker .speaker-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8em;
  width: 70%;
}

.speaker-info strong {
  font-weight: var(--black-weight);
  font-size: 1.7rem;
  letter-spacing: 0.05rem;
}

.speaker-info span {
  font-weight: var(--bold-weight);
  color: var(--primary-color);
  font-size: 1.4rem;
}

.speaker-info p {
  font-size: 1.3rem;
  line-height: 2rem;
}

#speakers .speaker-dash {
  width: 6%;
  margin: 0 0 0.5em;
  border: 1px solid var(--light--color);
}

.btn-more {
  text-transform: uppercase;
  margin: 0;
  background-color: transparent;
  border: 2px solid var(--light-gray-color);
  color: var(--gray-color);
  font-size: 1.5rem;
  padding: 1em;
  background-image: url(./icons/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: 10px 10px;
}
/* MEDIA QUERIES START HERE */

/* Styles for 768px and above screen size */
@media screen and (min-width: 768px) {
  /* GENERAL SETTINGS */
  html {
    background-color: #fff;
  }

  .container {
    max-width: 90rem;
  }

}
